<?xml version="1.0" encoding="UTF-8"?>
<config>
    <metadata>
        <name>responseListAndManage</name>
        <type>plugin</type>
        <creationDate>2018-06-20</creationDate>
        <lastUpdate>2022-06-30</lastUpdate>
        <author>Denis Chenu</author>
        <authorUrl>https://www.sondages.pro</authorUrl>
        <version>2.9.2</version>
        <lastSecurityUpdate>1.18.8</lastSecurityUpdate>
        <license>GNU General Public License version 3 or later</license>
        <description><![CDATA[A different way to manage response of a survey.]]></description>
    </metadata>
    <lastSecurityUpdate>2.9.1</lastSecurityUpdate>
    <compatibility>
        <version>3</version>
        <version>5</version>
    </compatibility>
    <updaters>
        <updater>
            <stable>0</stable>
            <type>git</type>
            <source>https://gitlab.com/SondagesPro/managament/responseListAndManage/tree/master</source>
        </updater>
    </updaters>
</config>
