<div class='alert alert-success alert-submitted alert-responselistandmanage responselistandmanage-submitted'>
    {{ language['Your responses was saved as complete, you can close this windows.'] }}
</div>
